{
	"arrowParens": "always",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"printWidth": 80,
	"quoteProps": "as-needed",
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true,
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"tabWidth": 4,
				"useTabs": false
			}
		}
	]
}
