name: Snyk

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  security:
    uses: guardian/.github/.github/workflows/sbt-node-snyk.yml@main
    with:
      SKIP_SBT: true
      DEBUG: true
      ORG: guardian-consent
      node-version-file: './monitoring/.nvmrc'
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
